.navigation {
  background-color: #222;
  $primary-color: #fff;
  $hover-color: pink;

  ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 10px 20px;
    }

    a {
      color: $primary-color;
      text-decoration: none;

      &:visited {
        color: $primary-color;
      }

      &:hover {
        color: $hover-color;
      }
    }
  }
  &-sign {
      align-self: flex-end;
  }
}
